# Mengimport Library

In [8]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

# Test URL dan Requests HTML data

In [12]:
URL = "https://www.worldometers.info/coronavirus/"

html_page = requests.get(URL).text

# BeautiulSoup Extract data

In [14]:
soup = BeautifulSoup(html_page, 'lxml')

In [16]:
get_table = soup.find('table', id='main_table_countries_today')
get_table_data = get_table.tbody.find_all("tr")

In [31]:
dic = {}

for i in range(len(get_table_data)):
    try:
        key = get_table_data[i].find_all("a", href=True)[0].string
    except:
         key = get_table_data[i].find_all("td")[0].string
    
    values = [j.string for j in get_table_data[i].find_all('td')]
    
    dic[key]=values
    
column_names = ["Total Cases", "NewCases", "Total Deaths", "New Deaths", "Total Recovered", "Active Cases", "Serius Critical", "Tot Cases/1M pop", "Death/1M pop"]
   
df =pd.DataFrame(dic).iloc[1:,:].T.iloc[:,:9]

df.index_name = 'Country'

df.columns = column_names

df.head()

,Total Cases,NewCases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serius Critical,Tot Cases/1M pop,Death/1M pop
USA,"142,735",+275,"2,488",+4,"4,562","135,685","2,970",431,8
Italy,"97,689",None,"10,779",None,"13,030","73,880","3,906","1,616",178
Spain,"80,110",None,"6,803",None,"14,709","58,598","4,165","1,713",146
Germany,"62,435",None,541,None,"9,211","52,683","1,979",745,6
France,"40,174",None,"2,606",None,"7,202","30,366","4,632",615,40

# Save to table

In [32]:
df.to_csv("Corona_live_cases.csv")